
.plus-button {
  position: relative;
  overflow: hidden;
}

.plus-button .plus-icon {
  transition: none;
}

.plus-button.touched .plus-icon {
  display: none;
}

.plus-button.touched .command-icon {
  display: inline-block;
}

.plus-button .command-icon {
  display: none;
}
